@page
@{
    ViewData["Title"] = "Sean T. McBeth: engineer, photographer, mad scientist";
    ViewData["Keywords"] = "software development, software engineering, programming, freelancing, Sean T. McBeth, embedded programming, virtual reality, augmented reality, VR, AR, 3D, graphics programming, game development, simulation, abstract data visualization, audio synthesis, signals processing, computer vision, peer-to-peer, networking, desktop software, Web applications, mobile apps, WebRTC, hardware, embedded systems, reporting, GIS, databases";
    ViewData["Description"] = "Sean T. McBeth is a software engineer and dad.";
    ViewData["Screenshot"] = "/img/2023-03.jpg";
}

@using Juniper.Configuration
@using Microsoft.Extensions.Configuration
@inject IConfiguration config

@section Menu {
    @{
        foreach (var (text, title, href, hide) in new[] {
            ("Contact", "Contact", "#contact", true),
            ("Bio", "Bio", "#bio", true),
            (".com", "Projects", "#projects", false),
            (".net", "Talks and Interviews", "#talks", false),
            ("etc/", "Extras", "/other", false)
        })
        {
            <li class="@(hide?"hidden":null)">
                <a href="@href"
                   aria-label="@title"
                   title="@title">
                    @text
                </a>
            </li>
        }
    }
}

<img id="portrait"
     src="~/img/2023-03.jpg"
     alt="Portrait of Sean T. McBeth"
     title="Sean T. McBeth" />

<section id="contact"
         aria-label="contact">
    <h1>Sean T. McBeth</h1>

    <ul>
        @{
            foreach (var (text, icon, url, rel) in new[] {
        ("Follow @seanmcbeth on Mastodon", "mastodon", "https://arvr.social/@seanmcbeth", "me"),
        ("Follow Sean on GitHub", "github", "https://github.com/capnmidnight", null),
        ("Follow Sean on LinkedIn", "linkedin", "https://www.linkedin.com/in/sean-mcbeth-3787276/", null),
        ("Follow Sean on Twitter", "twitter", "https://twitter.com/Sean_McBeth", null),
        ("Email Sean", "email", "mailto:sean@removethis.seanmcbeth.com", null),
        ("Download Sean's résumé (PDF)", "resume", "Resume-Sean_McBeth-2023.pdf", null)
        })
            {
                <li>
                    <a href="@url"
                       aria-label="@text"
                       title="@text"
                       target="_blank"
                       rel="@rel">
                        <span class="icon icon-@icon" role="presentation"></span>
                        <span class="print-only">@text</span>
                    </a>
                </li>
            }
        }
    </ul>
</section>

<section id="bio"
         aria-label="bio">
    <h2>Bio</h2>

    <p>
        I'm a DoD cleared, cross-disciplinary Project Manager/Technical Lead, with 20 years of professional experience. I've successfully
        bootstrapped and deployed multiple <abbr>VR</abbr> and <abbr>AR</abbr> projects in WebXR and Unity3D over
        the last 8 years. 
    </p>
    <p>
        I currently manage a team of software developers at <a href="https://spa.com" target="_blank" rel="nofollow noreferrer">Systems Planning and Analysis</a>,
        working for the Department of Defense on building tools to manage research funding, adjudicate war games, and perform novel analysis on
        trends in critical supply line security and technological innovation.
    </p>

    <p>
        I'm interested in projects in VR, AR, audio, and/or AI, especially in the productivity, training, and education markets.
        I live in Alexandria, Virginia, with my wife and 2 kids.
        I'm open to 100% remote projects anywhere, or hybrid work in the Arlington/Alexandria area.
    </p>

    <p>
        In my free time, I dabble in AI (genetic algorithms, interfacing with OpenAI's large language models), embedded software development
        (Arduino and Adafruit Feather microcontrollers), photography, woodworking, and wine making. Before <abbr>VR</abbr>,
        I worked primarily on Web and desktop applications for GIS, database management and reporting (Online Transaction Processing),
        and industrial simulation.
    </p>

</section>

<section id="projects"
         aria-label="projects">
    <h2>Projects</h2>

    <p>Here are some of my most recent projects.</p>

    @foreach (var (name, title, shortTitle, href, screenshot, description) in new[]
    {
    ("DLS VR", "Diplomatic Language Services Virtual Reality", "DLS VR Landing Page", "/dlsvr", "/img/dlsvr/screen1.jpeg",
    @"DLS VR is a multiuser, multimodal, Web-based VR application that includes a full, online editor, designed for
    subject matter experts to be able to rapidly create new immersion scenarios."),
    ("Svg2Png", "Svg2Png", "Converting vector images to raster images", "/apps/svg2png", "/js/apps/svg2png/screenshot.jpg",
    @"A simple SVG to PNG/JPEG conversion tool. I built this for ""fun"" while editing some logos for a family member. It supports
    drag-and-drop file upload, changing the background color of the image, and making minor edits to the SVG input."),
    ("Woodturning", "Woodturning", "Wood working on a lathe", "/turning", "/turning/cover.jpg",
    @"Some pictures of wooden cups and bowls I've made with my woodturning lathe."),
    ("AI Chat Bot", "AI Chat Bot", "A speech-based conversation with AI", "/apps/ai-chat-bot", "/js/apps/ai-chat-bot/screenshot.jpg",
    @"The AI Chat Bot uses Speech-to-Text technology and some clever prompting of an OpenAI LLM to generate characterized responses,
    which are then piped out to a Text-to-Speech engine, with lip-sync."),
    ("Juniper", "Juniper", "A forest demo built with Juniper", "/juniper", "/img/juniper.jpeg",
    @"Juniper is an .NET 7 and TypeScript framework for building WebXR applications. It is an evolution of my previous project, Primrose."),
    ("Calla", "Calla", "Spatialized audio chat", "https://github.com/capnmidnight/Calla", "https://raw.githubusercontent.com/capnmidnight/Calla/master/repo-preview.jpg",
    @"Calla was a fun experiment in audio-only teleconferencing. The 2D game world provided a space for ""Spatialized Audio Chat"" to give users a
    natural way to have sidebar conversations and congregate in the space. Much of the audio graph manipulation code ended up in Juniper."),
    ("Primrose", "Primrose", "Primrose text editor", "/primrose", "/img/primrose.jpeg",
    @"Primrose was the world's first JavaScript framework for developing WebXR applications, back when WebXR was still called ""WebVR"".
    My first release of Primrose was sometime in 2014, almost a full year before Mozilla's A-Frame.")
    })
    {
        <figure>
            <h3><a href="@href">@title</a></h3>
            <a href="@href"><img src="@screenshot" alt="Screenshot of @name" title="@shortTitle" /></a>
            <figcaption>@description</figcaption>
            <a href="@href">Read more&hellip;</a>
        </figure>
    }
</section>

<section id="talks"
         aria-label="talks and interviews">

    <h2>Talks &amp; Interviews</h2>
    <p>
        These are the most recent talks and podcasts that I've done in the past. <a href="~/talks">View the full list</a>.
    </p>

    <ul>
        <li>
            <a href="https://calico.org/sigs/virtual-worlds/">CALICO Immersive Realities SIG</a> (2023): A colleague and I gave a
            presentation and answered extensive Q+A on designing proficiency-oriented virtual reality scenarios for foreign
            language training.
        </li>
        <li>
            <a href="https://www.airuniversity.af.edu/Portals/10/AFCLC/documents/LREC/2022/2022-AU-LREC-Symposium-Program.pdf">
                Air Force
                Culture and Language Center - Air University: Language, Regional Expertise, and Culture Symposium
            </a> (2022): A colleague and I
            gave a presentation on designing proficiency-oriented virtual reality scenarios for foreign language training.
        </li>
        <li>
            <em>Virtual Worlds Forum</em> (2021): I gave a presentation on using WebXR to create environments for foreign language students to
            meet with their instructors and practice conversation skills in culturally appropriate settings.
        </li>
    </ul>
</section>

<section id="thanks">
    <h2>Thanks for reading</h2>
    <p>
        Thank you for reading my website, v@(config.GetVersion()).
        If you have any questions, please feel free to reach out to me.
        All of my contact information is available at the top of the site.
    </p>
</section>