@page "{name}"
@model TestModel
@{
    ViewData["Title"] = Model.FullName ?? "Tests";
    ViewData["SubURL"] = "app/" + Model.Name;
    ViewData["Description"] = Model.Description;
    ViewData["Screenshot"] = Model.ScreenshotPath;
    ViewData["HideMenu"] = Model.HideMenu;
}

@section Menu {
    @{
        foreach (var (text, title, href) in new[] {
            ("home/", "Home", "/"),
            ("etc/", "Extras", "/other")
        })
            {
                <li>
                    <a href="@href"
                       aria-label="@title"
                       title="@title">
                        @text
                    </a>
                </li>
            }
        }
}

@section Head {
    @if (@Model.ScreenshotPath is not null)
    {
        <style>
            body {
                background: fixed center/cover url(@Model.ScreenshotPath);
            }
        </style>
    }
    @if (Model.ManifestPath is not null)
    {
        <link rel="manifest" href="@Model.ManifestPath">
    }
    <bundle-css name="apps" versioned />
    @if (Model.IncludeStylesheet)
    {
        <bundle-css dir="js" name="tests/@Model.Name/index" versioned />
    }
    @if (Model.IncludeThreeJS)
    {
        <bundle-js name="libs/three" versioned />
    }
    <bundle-js name="tests/@Model.Name" versioned />
}

@Html.AntiForgeryToken()

@if (Model.HTMLStub is not null)
{
    Write(Html.Raw(Model.HTMLStub));
}