<!DOCTYPE html>
<html lang="en-us" prefix="og: http://ogp.me/ns#">

<head>
    <meta charset="utf-8" />
    <title>@ViewData["Title"]</title>
    <meta name="viewport" content="width=device-width, shrink-to-fit=0, initial-scale=1.0" />
    <meta name="twitter:card" content="summary_large_image" />
    <meta property="og:site_name" content="Sean T. McBeth's Personal Site" />
    <meta property="og:locale" content="en_US">
    <meta name="twitter:site" content="@@Sean_McBeth" />
    <meta name="twitter:title" content="@ViewData["Title"]" />
    <meta property="og:title" content="@ViewData["Title"]" />
    @if (ViewData["Keywords"] is not null)
    {
        <meta name="keywords" content="@ViewData["Keywords"]" />
    }
    <link rel="stylesheet" type="text/css" href="~/css/index.css">
    @RenderSection("Head", required: false)
</head>

<body>
    <header>
        <nav id="menu">
            <ul>
                @RenderSection("Menu", required: false)
                <li>
                    <a href="~/"
                       role="menuitem"
                       aria-label="Home"
                       title="Home">home/</a>
                </li>
                <li>
                    <a href="~/vr"
                       role="menuitem"
                       aria-label="Virtual Reality"
                       title="VR"><abbr>vr</abbr>/</a>
                </li>
                <li>
                    <a href="~/other"
                       role="menuitem"
                       aria-label="Other info"
                       title="Other">etc/</a>
                </li>
            </ul>
        </nav>
    </header>

    <main>
        @RenderBody()
    </main>

    @if (IsSectionDefined("Footer"))
    {
        <footer>
            @RenderSection("Footer")
        </footer>
    }
</body>

</html>