@using Microsoft.Extensions.Configuration
@inject IConfiguration config
@{
    var title = ViewData["Title"] as string;
    var subURL = ViewData["SubURL"] as string;
    var description = ViewData["Description"] as string;
    var screenshot = ViewData["Screenshot"] as string;
    var showMenu = (ViewData["HideMenu"] as bool?) != true;
    var useBackdrop = (ViewData["UseBackdrop"] as bool?) == true;
    var keywords = ViewData["Keywords"] as string;
    var version = config.GetValue<string>("Version");
    var twitterCardType = screenshot is null ? "summary" : "summary_large_image";
    var favicon = (ViewData["FavIcon"] as string) ?? "/favicon.png";

    if (screenshot is not null)
    {
        screenshot = "https://seanmcbeth.com" + screenshot;
    }
}

<!DOCTYPE html>
<html lang="en-us" prefix="og: http://ogp.me/ns#">

<head>
    <meta charset="utf-8" />
    <title>@title</title>
    <meta name="viewport" content="width=device-width, shrink-to-fit=0, initial-scale=1.0" />
    <meta name="twitter:card" content="@twitterCardType" />
    <meta property="og:type" content="website">
    <meta property="og:site_name" content="Sean T. McBeth - Software Engineer" />
    <meta property="og:locale" content="en_US">
    <meta name="twitter:site" content="@@Sean_McBeth" />
    @if (subURL is not null)
    {
        <meta property="og:url" content="https://seanmcbeth.com/@subURL">
    }
    @if (title is not null)
    {
        <meta name="twitter:title" content="@title" />
        <meta property="og:title" content="@title" />
    }
    @if (keywords is not null)
    {
        <meta name="keywords" content="@keywords" />
    }
    @if (description is not null)
    {
        <meta name="twitter:description" content="@description">
        <meta property="og:description" content="@description">
    }
    @if (screenshot is not null)
    {
        <meta name="twitter:image" content="@screenshot">
        <meta property="og:image" content="@screenshot">
        @if (description is not null)
        {
            <meta name="twitter:image:alt" content="@description">
            <meta property="og:image:alt" content="@description">
        }

        @if (useBackdrop)
        {
            <style>
                body {
                    background: fixed center/cover url(@screenshot);
                }
            </style>
        }
    }

    <link rel="icon" type="image/png" href="@favicon" />
    <link rel="stylesheet" type="text/css" href="~/css/index.css">

    @RenderSection("Head", required: false)
</head>

<body>
    @if (showMenu)
    {
        <header>
            <nav id="menu">
                <ul>
                    @RenderSection("Menu", required: false)
                </ul>
            </nav>
        </header>
    }
    else
    {
        IgnoreSection("Menu");
    }

    <div class="scroll-body">
        <main>
            @RenderBody()
        </main>
    </div>

    @if (IsSectionDefined("Footer"))
    {
        <footer>
            @RenderSection("Footer")
        </footer>
    }
</body>

</html>