@using Microsoft.Extensions.Configuration
@inject IConfiguration config
@{
    var title = ViewData["Title"] as string;
    var subURL = ViewData["SubURL"] as string;
    var description = ViewData["Description"] as string;
    var screenshot = ViewData["Screenshot"] as string;
    var showMenu = (ViewData["HideMenu"] as bool?) != true;
    var keywords = ViewData["Keywords"] as string;
    var version = config.GetValue<string>("Version");
    var twitterCardType = screenshot is null ? "summary" : "summary_large_image";

    if (screenshot is not null)
    {
        screenshot = "https://seanmcbeth.com" + screenshot;
    }
}

<!DOCTYPE html>
<html lang="en-us" prefix="og: http://ogp.me/ns#">

<head>
    <meta charset="utf-8" />
    <title>@title</title>
    <meta name="viewport" content="width=device-width, shrink-to-fit=0, initial-scale=1.0" />
    <meta name="twitter:card" content="@twitterCardType" />
    <meta property="og:type" content="website">
    <meta property="og:site_name" content="Sean T. McBeth - Software Engineer" />
    <meta property="og:locale" content="en_US">
    <meta name="twitter:site" content="@@Sean_McBeth" />
    @if (subURL is not null)
    {
        <meta property="og:url" content="https://seanmcbeth.com/@subURL">
    }
    @if (title is not null)
    {
        <meta name="twitter:title" content="@title" />
        <meta property="og:title" content="@title" />
    }
    @if (keywords is not null)
    {
        <meta name="keywords" content="@keywords" />
    }
    @if (description is not null)
    {
        <meta name="twitter:description" content="@description">
        <meta property="og:description" content="@description">
    }
    @if (screenshot is not null)
    {
        <meta name="twitter:image" content="@screenshot">
        <meta property="og:image" content="@screenshot">
        @if (description is not null)
        {
            <meta name="twitter:image:alt" content="@description">
            <meta property="og:image:alt" content="@description">
        }
    }

    <link rel="icon" type="image/png" href="~/favicon.png" />
    <link rel="stylesheet" type="text/css" href="~/css/index.css">

    @RenderSection("Head", required: false)
</head>

<body>

    <pre class="background-text">OOOOOOOOOOOOOOOOOOOOOoooooOOOOOO88888888888O888888888OOOOOOOOOOO888888OOO88OOOooOOOOOOOOOO88###88888888888888O:::::....::::...................
OOOOOOOOOOOOOOOOOOOOOooooooOOOOO8888888888OO88888888OooOOOOOOO888888OOOOOOOooooooooooooOOOO888888888888888888:.:::::........::................
OOOOOOOOOOOOOOOOOOOOOOooooOOOOOOO88O88888OO88888888OooOOOOOO8888888OOoOOOOOoooooooooo::ooooO88888888888O8888o...:::...........................
OOOOOOOOOOOOOOOOOOOOOOooOOOOOOOOOOOo8888OOO8888888o:oOOOOOOO88888OOOOOOOOOOOOOOOOOoo:::::ooooO88888888888OOO.....:............................
OOOOOOOOOOOOOOOOOOOOOOOOOOOO88OOOOOoO88OOOO8888888OOOOOOOOOO88888OOOOooooOOOOOOOOOOOOo::::oooooOO88888888OO..:...:::..........................
OOOOOOOOOOOOOOOOOOOOOOOOOOOO88OO888OO888OO88888888OOOOOOOOOO888OOOoooooooOOOOOOOOOOOOOOOo::::oooo8888888O8:..:...:::..........................
OOOOOOOOOOOOOOOOOOOOOOOOOO8O888O888OO88OOO8888888O888OOOoOOOOOOoooooooooOOOOOOOOOOOOOOOOOOo::ooooO8OOOOOOo...:................................
OOOOOOOOOOOOOOOOOOOOOOOOOO888888888Oo88OoO88888888888OOOOOoOOoooooooooooOOOOOOOOOOOOOOOOOOOo:::ooO8OOOOOO....:................................
OOOOOOOOOOOOOOOOOOO8888888888888888Oo8OOO88888888888OOOOOo:ooooooooooooooooOOoOOOOOOOOOOOOOOOo::oo8OOOOOo.....:...............................
OOOOOOOOOOOOOOOOO888888888888888888OoOOOO88888O888OOOOOo::ooooooooooooooooooooOOOOOOOOOOOOOOOOo..:O88OOO......:...............................
OOOOOOOOOOOOOOO8888888888888888888OooOOOO8888O888OOOOOo::oooooooooooooooooooooOOOOOOOOOOOOOOOOOO..:O8OOo......................................
OOOOOOOO8888OO88888888888888Ooo:::::OOOOO8OOO888OOOOOO::ooooooooooooooooooOOooOOOOOOOOOOOOOOOOOOo..oOOO.......................................
OOOOOOO888888888888888888888:.:::::oOOOO88OO8888OOOOOO::OooooooooOOOOoooooOOOOOOOOOOOOOOOOOOOOOOOo..:O:.......................................
OOOOOO8888888888888888888888O..::::OOOOO88OOOOOO8OOOOo:oooooooooooOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOO:.... ......................................
OOOO888888888888888888888888O:.::::OOOOOOOOOOOOO8OOOO:oOoooooooooooOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOO:...  .....................................
OO8888888888888OOOOOOOOOooo:::::::oOOOOOOOOOOOO8OOOOO:oooooooooooooooOOOOOOooOOOOOOOOOOOOOOOOOOOOOOo...   ....................................
OOOOOooooooooooo::::::::::::::::..OOOOOOOOO88O8OOOOOoooooooooooooooooooOOOooooOOOOOOOOOOOOOOOOOOOOOO:.     ...................................
ooo:::::::::::::::::::::::::::...:OOOO8OOoO88OOOOOOOooooo::::::ooooooooooooooooooOOOOOOOOOOOOOOOOOOO:..    ...................................
:::::::::::::::::::::::::::......OOOO88OOO888OOOOOooooo:.........:::oooooooooooooooooooOOOOOOOOOOOOOo..    ...................................
:::::::::::::::::::::::::.......oOOOO88OoO8OOOOOOOoooo::::::::......:::oooo:oo::::.......:::oOOOOOOOo..     ..................................
.::::::::::.:::::...:.:.........OOOOO88oOOOOOooooooo:ooo::::::::......:ooooo::::.:...::::::::oOOOOOOo:      ..................................
............:.::...............:OOOOO8OOO8OOOooOOoooooo:..............:ooooooo:::.::::oooooOoooOOOOOo:.     ..................................
...............................OOOOOOOOOO8OOOOOOOooooo:..............::ooOOOOo::::::::::ooooOOOoOOOOo:.       ..... ..........................
..............................oOOOOOOOOO8OOOOOOOo:::oo:..oo:.  ......:ooOOOOOo:::::.::::::oooooooOOOo:.       ...... .........................
..............................OOOOOOOOoO8OOOOOOOo:::oo:::oo.. ..:..:::ooOOOOOoo:....::::oo::::oooOOOo:.       ......   .......................
.............................:OOOOOOOOOOOOOOOOOooo:ooooo:::.  ..:.::::ooOOOOOOOo:..::...oOO:::oooOOOo..      ........   ....  ................
.............................oOOOOOOOOOOOOOOOOo::::oooooo::::::::::::oooOOOOOOOoo:::... .oOo::ooOOOO::       ........   ..  ..................
.............................OOOOOOOOOOOOOOo::o::::oooooooo::::::::ooooOOOOOOOOOoo::::..:oOooooOOOOO:.       ........  ..   ..................
............................:OOOOOOOOOOOOOo:::oo:::oOooooooooo:::oooooOOOOOOOOOOOoo:::oooooooOOOOOOO:.        .........    ...................
............................:OOOOOOOOOOOOo::ooooo:oOOoooooooo::ooooooooOOOOOOOOOOOooooooooOOOOOOOOOO:.        ........       .................
............................oOOOOOOOOOOOOOoooooo::oooooooooooooooooooooOOOOOOOOOOOOooooOOOOOOOOOOOOO:::      .........       .....     .......
............................oOOOOOOOOOOOOOOooo::::ooooooooooooo::oooooooOOOOOOOOOOOOOooOOOOOOOOOOOOO::o.      ......                 .........
..................:::.......OOOOOOOOOOoo::::.::::oooooooooooo:::ooo:::ooooooOOOOOOOOOOOOOOOOOOOOOOOO:::.      ......          ................
.........::.::::::::::......OOOOOOOOOOOooo:oooo::oooooooooooo:::o::::::::ooooOOOOooOOOOOOOOOOOOOOOOO:..     .....            .................
:::::::::::::::::::::........::OOOOOOOOOOOOoooo::ooooooooooo::::::. ...::::::ooOOoooOOOOOOOOOOOOOOOo::.       .......         ................
::::::::::::::::::::............:OOOOOOOOOooooo:oooooooooooo:::::.. ....:... .:oOooooOOOOOOOOOOOOOOo.:.     ..........        ................
::::::::::::::::::.........   .. .oOOOOOOooooo::ooooooooooo::::::......:::::..:oooooooOOOOOOOOOOOOOo..:    .............       ...............
::::::::::::::::......  ...   ...  .oOOOooooo:::ooooooooooooo::......::::ooo:.:oOOoooooOOOOOOOOOOOOo:.:    ............       ................
:::::::::::::.........  ...   ....   :oo:..::.:ooooooooooooo:.............o::ooOOOOOooooOOOOOOOOOOOo:::     ............ ..      .............
::::::::::::.......... ....  .....   ...   ....ooooooooooo:..........:.....:::::oOOOOoooOOOOOOOOOOOo:::    ............. ....     ............
....:::::...........   ............   .    ...:oooooooooo:..........:::....::::.:ooOOooooOOOOOOOOOoo:::     ............   ..   . ... ....... 
.....:::............   ...........   .    ..:::ooooooooo:......::....:::..::::::.::oOooooOOOOOOOOOoo::.      ............       ...   ........
...................   ...........   ..    ....:oooooooo::.............:::::::::::..:ooooooOOOOOOOOo::o.      ............ ... ...   ..........
...................   ...........   ..   .::..::ooooooo:....:...::::::::......::....:ooooooOOOOOOOo::o.       ...........  .       .   ...... 
..................   ............ ....   ......:oooooo::...:::::oooooooooo:::.......::oooooOOOOOOo::..        .  ...   .         .....   . ...
................... ..........    ...    ......:::oooo::...::oooooooooooooOOooo:......:ooooOOOOOoo...              .    .           ....   ...
.....................................    .......:::oo::...:::::ooooooooooooOOOOo:.....:ooooOOOOooo.                         ...     ..........
.................. ..................    ........:::::...::::::::::::...:::oooOOo:....:oOOOOOOooo..                         ....  .  .........
.................. ..................      .......::::...:::::::::........::::oOo:....oOOOOooooo:..                           ..  ..  ........
.................. ..................        .....:::....:::::::............::oOoo...:ooOooooooo:.                            .       ..  ....
....................................       ...............::::::..... .....::oOooo.:.:ooooooooo:...                           .       .   ... 
....................................          .............:::::....... ..::ooOooo:.:::oooooooo:....                                      ... 
 ...................................       . ..  .........:::::::..... ..:ooOOOOo::.:::ooooooo::..                                            
  . ...............................        .........  ....::::::::.....:oooOOOOoo:::..:::::ooo::..                                         .  
  .   .............................         ......  ......::::::::..:::oooOOOOOoo...:..:::::o:::..                                            
..................................         ....   .. ......::::::::::::ooooOOOOo:....::...:.::::..                                            
..................................          .    .. ......::......:::::ooooooOoo:::...:....:::::..                                            
..................................                ......:::..:....::.::::::ooOo::::::.::.....::::                                             
.................................. ..         .  ....  .::::...........::::oooo::::::::.:....::...                                            
.................................. ...      .   .   ....:...............:.:oooo:.:::::::::....:...                                            
..................................  ..     ..   .  ......................::::oo::.::::.:......::.                                             
..................................        ...  .   .......................:::oo::::::o:::......:.                                             </pre>

    @if (showMenu)
    {
        <header>
            <nav id="menu">
                <ul>
                    @RenderSection("Menu", required: false)
                </ul>
            </nav>
        </header>
    }

    <div class="scroll-body">
        <main>
            @RenderBody()
        </main>
    </div>

    @if (IsSectionDefined("Footer"))
    {
        <footer>
            @RenderSection("Footer")
        </footer>
    }
</body>

</html>