@page
@model Yarrow.Pages.Editor.Hardware.IndexModel
@{
    Layout = "_EditorLayout";
    ViewData["Title"] = "Hardware Summary";
}

@section Scripts {
    <bundle-css dir="js/dom-apps" name="resource-summary/index" versioned />
    <bundle-js dir="js/dom-apps" name="resource-summary" versioned />
    <bundle-css dir="js/dom-apps" name="thumbnail-viewer/index" versioned />
    <bundle-js dir="js/dom-apps" name="thumbnail-viewer" versioned />
    <bundle-js dir="js/dom-apps" name="named-object-creator" versioned />
}


@section Breadcrumb {
    <li class="crumb">Hardware Manager</li>
}

<h1>Hardware</h1>

@if (!string.IsNullOrEmpty(Model.StatusMessage))
{
    <div class="alert alert-@Model.StatusType">@Model.StatusMessage</div>
}

<form method="post">
    @Html.AntiForgeryToken()
    <table class="table table-responsive table-hover table-striped summary" data-resourcename="Hardware">
        <thead>
            <tr>
                <th><label>Name</label></th>
                <th><label>Serial #</label></th>
                <th><label>Model</label></th>
                <th><label>Location</label></th>
                <th><label>Purchase Price (USD)</label></th>
                <th><label>Purchase Date</label></th>
                <th><label>Last Edit Date</label></th>
                <th><label>Notes</label></th>
                <th></th>
            </tr>
            <tr>
                <th>
                    <input type="text"
                           id="filterName"
                           placeholder="Filter by Name"
                           title="Filter by Name" />
                </th>
                <th>
                    <input type="text"
                           id="filterSerialNumber"
                           placeholder="Filter by Serial Number"
                           title="Filter by Serial Number" />
                </th>
                <th>
                    <input type="text"
                           id="filterModel"
                           placeholder="Filter by Model"
                           title="Filter by Model" />
                </th>
                <th>
                    <input type="text"
                           id="filterLocation"
                           placeholder="Filter by Location"
                           title="Filter by Location" />
                </th>
                <th></th>
                <th class="multi">
                    <label for="filterStartDate">After</label>
                    <input type="date"
                           class="range-start"
                           id="filterStartDate" />
                    <br />
                    <label for="filterEndDate">Before</label>
                    <input type="date"
                           class="range-end"
                           id="filterEndDate" />
                </th>
                <th></th>
                <th></th>
                <th><button type="reset" class="btn btn-secondary">Reset</button></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var headset in Model.Headsets)
            {
                <tr>
                    <td>@headset.Name</td>
                    <td>@headset.SerialNumber</td>
                    <td>@headset.Model</td>
                    <td>
                        @if (headset.HasTrackingNumber)
                        {
                            <a href="@headset.TrackingLink"
                               target="_blank"
                               rel="nofollow noreferrer">
                                @headset.CurrentLocation
                            </a>
                        }
                        else
                        {
                            @headset.CurrentLocation
                        }
                    </td>
                    <td style="text-align:right">
                        @headset.PurchasePriceUSD
                    </td>
                    <td>
                        @headset.PurchaseDate?.ToLocalTime().ToShortDateString()
                    </td>
                    <td>@headset.CurrentLocationStartDate.ToLocalTime().ToShortDateString()</td>
                    <td>@headset.Notes</td>
                    <td>
                        <a class="btn btn-primary" href="~/Editor/Hardware/Detail/@headset.HeadsetID">Detail</a>
                    </td>
                </tr>
            }
        </tbody>
        <tfoot>
            <tr>
                <td>
                    <input type="text"
                           name="headsetName"
                           id="newName"
                           placeholder="Name"
                           title="Name"
                           required />
                </td>
                <td>
                    <input type="text"
                           name="headsetSN"
                           placeholder="Serial #"
                           title="Serial #" />
                </td>
                <td>
                    <input type="text"
                           name="headsetModel"
                           placeholder="Model"
                           title="Model"
                           required />
                </td>
                <td>
                    <input type="text"
                           name="headsetLocation"
                           placeholder="Location"
                           title="Location"
                           required />
                </td>
                <td>
                    <input type="number"
                           name="purchasePrice"
                           step="0.01"
                           placeholder="Price"
                           title="Price" />
                </td>
                <td>
                    <input type="date"
                           name="purchaseDate" />
                </td>
                <td></td>
                <td></td>
                <td>
                    <input type="submit"
                           id="submitNewNameButton"
                           class="btn btn-outline-danger"
                           value="Create" />
                </td>
            </tr>
        </tfoot>
    </table>
</form>