@page
@model SeanMcBeth.Pages.IndexModel
@{
    ViewData["Title"] = "Sean T. McBeth: engineer, photographer, mad scientist";
    ViewData["Keywords"] = "software development, software engineering, programming, freelancing, Sean T. McBeth, embedded programming, virtual reality, agumented reality, VR, AR, 3D, graphics programming, game development, simulation, abstract data visualization, audio synthesis, signals processing, computer vision, peer-to-peer, networking, desktop software, Web applications, mobile apps, WebRTC, hardware, embedded systems, reporting, GIS, databases";
    ViewData["Description"] = "Sean T. McBeth is a software engineer and dad.";
    ViewData["Screenshot"] = "/img/2023-03.jpg";
}

@section Menu {
    @{
        foreach (var (text, title, href, hide) in new[] {
            ("Contact", "Contact", "#contact", true),
            ("Bio", "Bio", "#bio", true),
            (".com", "Projects", "#projects", false),
            (".net", "Talks and Interviews", "#talks", false),
            ("etc/", "Extras", "/other", false)
        })
        {
            <li class="@(hide?"hidden":null)">
                <a href="@href"
                   aria-label="@title"
                   title="@title">
                    @text
                </a>
            </li>
        }
    }
}

<img id="portrait"
     src="~/img/2023-03.jpg"
     alt="Portrait of Sean T. McBeth"
     title="Sean T. McBeth" />

<section id="contact"
         aria-label="contact">
    <h1>Sean T. McBeth</h1>

    <ul>
        @{
            foreach (var (text, icon, url, rel) in new[] {
        ("Follow @seanmcbeth on Mastodon", "mastodon", "https://arvr.social/@seanmcbeth", "me"),
        ("Follow Sean on GitHub", "github", "https://github.com/capnmidnight", null),
        ("Follow Sean on LinkedIn", "linkedin", "https://www.linkedin.com/pub/sean-mcbeth/6/727/378", null),
        ("Follow Sean on Twitter", "twitter", "https://twitter.com/Sean_McBeth", null),
        ("Email Sean", "email", "mailto:sean@removethis.seanmcbeth.com", null),
        ("Download Sean's résumé (PDF 180KB)", "resume", "Resume-Sean_McBeth-2023.pdf", null)
        })
            {
                <li>
                    <a href="@url"
                       aria-label="@text"
                       title="@text"
                       target="_blank"
                       rel="@rel">
                        <span class="icon icon-@icon" role="presentation"></span>
                        <span class="print-only">@text</span>
                    </a>
                </li>
            }
        }
    </ul>
</section>

<section id="bio"
         aria-label="bio">
    <h2>Bio</h2>

    <p>
        I'm a cross-disciplinary Product Manager/Project Manager/Technical Lead, with 20 years of professional experience. I've successfully
        bootstrapped and deployed multiple <abbr>VR</abbr> and <abbr>AR</abbr> projects in WebXR and Unity3D over 
        the last 8 years. 
    </p>

    <p>
        I'm interested in projects in VR, AR, audio, and/or AI, especially in the training and education markets. 
        I live in Alexandria, Virginia, with my wife and 2 kids. 
        I'm open to 100% remote projects anywhere, or hybrid work in the Arlington/Alexandria area. 
    </p>

    <p>
        In my free time, I dabble in AI (genetic algorithms, interfacing with OpenAI's large language models), embedded software development
        (Arduino and Adafruit Feather microcontrollers), photography, woodworking, and wine making. Before <abbr>VR</abbr>,
        I worked primarily on Web and desktop applications for GIS, database management and reporting (Online Transaction Processing),
        and industrial simulation.
    </p>

</section>

<section id="projects"
         aria-label="projects">
    <h2>Projects</h2>

    <p>Here are some of my most recent projects.</p>

    <figure>
        <h3>Diplomatic Language Services Virtual Reality</h3>
        <img src="~/img/dlsvr/screen1.jpeg" alt="Screenshot of DLS VR Landing Page" title="DLS VR Landing Page" />
        <figcaption>
            DLS VR is a multiuser, multimodal, Web-based VR application that includes a full, online editor, designed for
            subject matter experts to be able to rapidly create new immersion scenarios.
        </figcaption>
        <a href="~/dlsvr">Read more&hellip;</a>
    </figure>

    <figure>
        <h3>Juniper</h3>
        <img src="~/img/juniper.jpeg" alt="Screenshot from Juniper" title="A forest demo built with Juniper" />
        <figcaption>
            Juniper is an .NET 7 and TypeScript framework for building WebXR applications. It is an evolution of my previous project, Primrose.
        </figcaption>
        <a href="~/juniper">Read more&hellip;</a>
    </figure>

    <figure>
        <h3>AI Chat Bot</h3>
        <img src="~/img/ai-chat-bot.jpeg" alt="Screenshot from AI Chat Bot" title="A audible speech-based conversation with AI"
        style="border: solid 1px grey"/>
        <figcaption>
            The AI Chat Bot uses Speech-to-Text technology and some clever prompting of an OpenAI LLM to generate characterized responses,
            which are then piped out to a Text-to-Speech engine, with lip-sync.
        </figcaption>
        <a href="~/app/ai-chat-bot">Read more&hellip;</a>
    </figure>

    <figure>
        <h3>Primrose</h3>
        <img src="~/img/primrose.jpeg" alt="Screenshot from Primrose" title="Primrose Text Editor" />
        <figcaption>
            Primrose was the world's first JavaScript framework for developing WebXR applications, back when WebXR was still called "WebVR".
            My first release of Primrose was sometime in 2014, almost a full year before Mozilla's A-Frame.
        </figcaption>
        <a href="~/primrose">Read more&hellip;</a>
    </figure>
</section>

<section id="talks"
         aria-label="talks and interviews">

    <h2>Talks &amp; Interviews</h2>
    <p>
        These are the most recent talks and podcasts that I've done in the past. <a href="~/talks">View the full list</a>.
    </p>

    <ul>
        <li>
            <a href="https://calico.org/sigs/virtual-worlds/">CALICO Immersive Realities SIG</a> (2023): A colleague and I gave a
            presentation and answered extensive Q+A on designing proficiency-oriented virtual reality scenarios for foreign
            language training.
        </li>
        <li>
            <a href="https://www.airuniversity.af.edu/Portals/10/AFCLC/documents/LREC/2022/2022-AU-LREC-Symposium-Program.pdf">
                Air Force
                Culture and Language Center - Air University: Language, Regional Expertise, and Culture Symposium
            </a> (2022): A colleague and I
            gave a presentation on designing proficiency-oriented virtual reality scenarios for foreign language training.
        </li>
        <li>
            <em>Virtual Worlds Forum</em> (2021): I gave a presentation on using WebXR to create environments for foreign language students to
            meet with their instructors and practice conversation skills in culturally appropriate settings.
        </li>
    </ul>
</section>

<section id="thanks">
    <h2>Thanks for reading</h2>
    <p>
        Thank you for reading my website, v@(@Model.SiteVersion).
        If you have any questions, please feel free to reach out to me.
        All of my contact information is available at the top of the site.
    </p>
</section>