@page
@model SeanMcBeth.Pages.OtherModel
@{
    ViewData["SubURL"] = "other";
    ViewData["Title"] = "Sean T. McBeth: other info";
}

@section Menu {
    @foreach (var (text, title, href) in new[] {
            (".edu", "Education", "#edu"),
            (".net", "Profiles", "#profiles"),
            (".io", "Demos", "#demos"),
            (".com", "Projects", "#projects"),
            (".tv", "Press", "#press"),
            ("home/", "Home", "/")
        })
    {
        <li>
            <a href="@href"
               aria-label="@title"
               title="@title">
                @text
            </a>
        </li>
    }
}

<section id="bonafides">
    <h2><a name="edu">Education</a></h2>
    <ul>
        <li>Bachelors of Science, Computer Science&mdash;<a href="http://www.ship.edu/CSE/">Shippensburg University</a>, <em>cum laude</em> 2005.</li>
    </ul>

    <h2><a name="profiles">Online Profiles</a></h2>
    <ul>
        @{
            foreach (var (id, site, href) in new[] {
        ("@seanmcbeth", "Mastodon", "https://arvr.social/@seanmcbeth"),
        ("capnmidnight", "Github", "https://github.com/capnmidnight"),
        ("moron4hire", "YouTube", "https://www.youtube.com/user/moron4hire"),
        ("SeanMcBeth", "CodePen", "https://codepen.io/SeanMcBeth/"),
        ("seanmcbeth", "NPM", "https://www.npmjs.com/~seanmcbeth"),
        ("Sean T. McBeth", "LinkedIn", "https://www.linkedin.com/pub/sean-mcbeth/6/727/378"),
        ("moron4hire", "Hacker News", "https://news.ycombinator.com/user?id=moron4hire"),
        ("Sean_McBeth", "Twitter", "https://twitter.com/Sean_McBeth"),
        ("Sean T. McBeth", "IMDB", "https://www.imdb.com/name/nm5111059/")
        })
            {
                <li>
                    <a href="@href"
                       target="_blank"
                       aria-label="Follow @id on @site"
                       title="Follow @id on @site">
                        @site
                    </a>
                </li>
            }
        }
    </ul>
</section>

<section id="demos"
         aria-label="demos">

    <h2>Demos</h2>

    <p>
        A few simple apps I'm working on.
    </p>

    <ul>
        @foreach (var appName in AppModel.BundleNames)
        {
            <li><a href="~/apps/@appName">@appName.ToTitleCase().Replace('-', ' ')</a></li>
        }
    </ul>
</section>

<section id="projects">
    <h2><a name="projects">Past Projects</a></h2>
    <p>Here are some of the projects I had worked on in the past, that are either now finished or defunct.</p>
    <h3>Virtual and Augmented Reality Projects</h3>
    <ul>
        <li><a href="https://vr.dlsdc.com" target="_blank">DLS VR</a>: a Web-based Virtual Reality platform for students of foreign language to practice conversational skills and learn about culture.</li>
        <li><a href="https://github.com/capnmidnight/plume" target="_blank">Plume</a>: a VR teleconferencing system for the Web</li>
        <li>
            <a href="https://www.youtube.com/watch?v=PWvPEEpLCT0&amp;feature=youtu.be&amp;t=55" target="_blank">Smart-city VR diorama</a>: with:
            <ul>
                <li>
                    <a href="https://www.youtube.com/watch?v=gdiIqyTl_Kk" target="_blank">Traffic simulation</a>: a simple traffic animation with <a href="https://www.youtube.com/watch?v=awmEM5jbZAk" target="_blank">night-time dependent effects</a>
                </li>
                <li><a href="https://www.youtube.com/watch?v=XL__CsW_L7A" target="_blank">Power grid simulation</a>:</li>
                <li><a href="https://www.youtube.com/watch?v=90hJ4h-rwk0" target="_blank">Day/night cycle for time-series simulation in games</a>:</li>
            </ul>
        </li>
        <li>
            <a href="https://www.youtube.com/watch?v=xSSL8WqZT6o" target="_blank">Music beat detection</a>: for <a href="https://www.youtube.com/watch?v=K_HJtNlNsmg&amp;feature=youtu.be&amp;t=20" target="_blank">game-play synchronization</a>
        </li>
        <li><a href="https://www.youtube.com/watch?v=CEYDYRBhC2E" target="_blank">AR for business cards</a>:</li>
        <li><a href="https://www.youtube.com/watch?v=fhvDLiuSYis" target="_blank">AR for Religious Preference</a>:</li>
        <li><a href="https://makeoffices.com/blog/the-east-coasts-first-virtual-reality-arcade-launches-at-makeoffices-dc/" target="_blank">The East Coast's first Virtual Reality Arcade</a>:</li>
        <li><a href="https://www.linkedin.com/pulse/i-just-hacked-my-brain-sean-mcbeth" target="_blank">DIY Galvanic Vestibular Stimulation (virtual balance)</a>:</li>
        <li><a href="https://youtu.be/-oOK6dDr74I?t=61" target="_blank">Live-programmable VR environment</a>:</li>
    </ul>
    <h3>Hardware Projects</h3>
    <ul>
        <li><a href="https://www.facebook.com/adamzuckerman/posts/10101366098933612" target="_blank">Haptic Glove, v3</a>:</li>
        <li><a href="https://medium.com/@@notiontheory/building-a-haptic-feedback-glove-for-virtual-reality-77232999a2d7" target="_blank">Haptic Glove, v2</a>:</li>
        <li><a href="https://plus.google.com/+SeanMcBeth/posts/gKF7sQ2FAhh" target="_blank">Haptic Glove, v1</a>:</li>
        <li><a href="http://sean-mcbeth.tumblr.com/post/60153233552/a-thing-i-built-a-while-ago-you-can-see-it-in" target="_blank">Speaking Accent Recognition Testing Machine</a>:</li>
        <li><a href="https://www.youtube.com/watch?v=j4eOyNT6JsY" target="_blank">Laser Harp</a>:</li>
        <li><a href="http://www.hive76.org/the-no-video-game" target="_blank">The No-Video Game</a>:</li>
        <li><a href="http://www.hive76.org/standing-workstations" target="_blank">Standing Workstation</a>:</li>
        <li><a href="https://www.youtube.com/watch?v=RPdBk-qXuzg" target="_blank">2-Player, Competitive, Arm-Wrestling Tetris</a>:</li>
        <li><a href="http://wiki.hive76.org/Burning_Zombie_Dummy" target="_blank">Indie-movie pyrotechnic effects</a>:</li>
    </ul>
    <h3>Web and Database Projects</h3>
    <ul>
        <li><a href="https://capnmidnight.github.io/marigold-build/" target="_blank">Marigold</a>: a development environment for JavaScript Single-Page Applications</li>
        <li><a href="https://github.com/capnmidnight/pliny" target="_blank">Pliny: a live-documentation system for JavaScript projects</a>:</li>
        <li><a href="https://www.youtube.com/watch?v=9_6_w-dXVw0" target="_blank">Electron/WebRTC app for screen sharing and web app collaboration</a>:</li>
        <li><a href="https://www.bloomberg.com/news/articles/2016-12-06/goldman-sachs-alum-turns-to-virtual-reality-to-sell-57-million-mansion" target="_blank">REX</a>: 360° Real Estate Tours</li>
        <li><a href="~/apps/yabs" target="_blank">No More Jabber Yabs</a>: A game about the consequences of following orders.</li>
        <li><a href="http://www.highlandas.com" target="_blank">Highland Solutions</a>: a consultancy for helping people wrangle their data</li>
        <li><a href="https://www.youtube.com/watch?v=5SXsu_MEzmU" target="_blank">Genetic algorithm visualizer</a>:</li>
        <li><a href="~/archive/jwd" target="_blank">Just Write, Dammit!</a>: A book writing platform</li>
        <li><a href="https://www.youtube.com/watch?v=KcDqzLGkre4&amp;feature=youtu.be&amp;t=43" target="_blank">Rieker CARS</a>: DOT-compliant road sign recommendations</li>
        <li><a href="https://github.com/capnmidnight/small-town" target="_blank">Small Town</a>: interactive fiction + AI Shakespere</li>
        <li><a href="https://github.com/capnmidnight/SqlSiphon" target="_blank">SqlSiphon</a>: a database management library for .NET</li>
        <li><a href="~/archive/html5/pong" target="_blank">Mobile-responsive Pong game</a>:</li>
        <li><a href="~/archive/html5/synth" target="_blank">Scratch Live!</a>: An HTML 5 synthesizer</li>
    </ul>
    <h3>Photography and Writing</h3>
    <ul>
        <li><a href="http://sean-mcbeth.tumblr.com/tagged/Germany" target="_blank">Photography from Germany</a>:</li>
        <li><a href="http://sean-mcbeth.tumblr.com/tagged/Ireland" target="_blank">Photography from Ireland</a>:</li>
        <li><a href="http://sean-mcbeth.tumblr.com/tagged/Galapagos" target="_blank">Photography and writing on the Galapagos Islands</a>:</li>
        <li><a href="http://sean-mcbeth.tumblr.com/tagged/abstract" target="_blank">Abstract photography with prisms</a>:</li>
        <li><a href="http://www.amazon.com/dp/B00J3XY6N2" target="_blank">Three Years: an eBook</a>:</li>
    </ul>
    <h2><a name="volunteer">Past Community Work</a></h2>
    <p>These are some of the volunteer positions I've held in the past.</p>
    <ul>
        <li><a href="https://www.meetup.com/Alexandria-Code-Coffee/" target="_blank">Alexandria Code &amp; Coffee</a>: Organizer</li>
        <li><a href="http://washington-dc.siggraph.org/" target="_blank">DC ACM SIGGRAPH</a>: Member</li>
        <li><a href="https://dcacm.org/2016/07/04/announcing-the-2016-2017-dc-acm-executive-board/" target="_blank">VR Program Chair</a>: for <a href="https://dcacm.org" target="_blank">the Washington DC chapter</a> of <a href="https://www.acm.org" target="_blank">ACM</a>.</li>
        <li><a href="http://wiki.hive76.org/Elections" target="_blank">Treasurer, events coordinator, and board member</a>: at <a href="https://www.hive76.org" target="_blank">Hive76</a>.</li>
        <li>Charter President for Shippensburg University's chapter of <a href="http://upe.acm.org/" target="_blank">Upsilon Pi Epsilon</a>, the Computer Science honor society.</li>
        <li>President for Shippensburg University's student ACM chapter.</li>
        <li>Vice-President for Shippensburg University's programming team.</li>
        <li>President for Penn State Mont Alto's engineering club.</li>
    </ul>
</section>

<section id="tests"
         aria-label="tests">

    <h2>Tests</h2>

    <p>
        Just some faffing about
    </p>

    <ul>
        @foreach (var testName in TestModel.BundleNames)
        {
            <li><a href="~/tests/@testName">@testName.ToTitleCase().Replace('-', ' ')</a></li>
        }
    </ul>
</section>

<section id="archive"
         aria-label="archive of really old projects">
    <h2>Archive</h2>

    <p>
        Some really old projects that I just like to keep around and look at from time to time.
    </p>

    <ul>
        <li><a href="~/archive/3hgdc">3hgdc</a></li>
        <li><a href="~/archive/html5/brian">brian</a></li>
        <li><a href="~/archive/html5/epa">epa</a></li>
        <li><a href="~/archive/html5/web-chess">chess</a></li>
        <li><a href="~/archive/research/dhtml/render">sprites</a></li>
        <li><a href="~/archive/research/dhtml/render/render.html">render</a></li>
        <li><a href="~/archive/research/dhtml/slidebar">slidebar</a></li>
        <li><a href="~/archive/research/mapping">mapping</a></li>
        <li><a href="~/archive/research/optical_illusions">optical_illusions</a></li>
        <li><a href="~/archive/research/testing">testing</a></li>
    </ul>
</section>

<section id="press"
         aria-label="press">
    <h2>Press</h2>

    <p>
        These are articles online that have talked about my work.
    </p>

    <ul>
        <li>
            <a href="http://dcinno.streetwise.co/2017/03/06/a-dc-virtual-reality-startup-now-lets-you-feel-in-vr/">DC Inno</a>:
            A DC Virtual Reality Startup Now Lets You Feel in <abbr>VR</abbr>.
        </li>
        <li>
            <a href="http://dailyfreepress.com/2017/01/18/ar-in-action-features-current-and-future-developments-in-technological-field/">Daily Free Press, Boston University</a>:
            <abbr>AR</abbr> in Action features current and future developments in technological field.
        </li>
        <li>
            <a href="https://venturebeat.com/2016/09/17/how-webvr-will-make-virtual-reality-massively-available/">VentureBeat</a>:
            How WebVR will make virtual reality massively available.
        </li>
        <li>
            <a href="http://www.thehoya.com/first-east-coast-virtual-reality-arcade-opens-in-d-c/">The Hoya, Georgetown University</a>:
            First East Coast Virtual Reality Arcade Opens in DC.
        </li>
        <li>
            <a href="http://www.techradar.com/news/gaming/how-one-of-the-first-vr-arcades-will-bring-us-together-in-our-own-little-worlds-1327005">TechRadar</a>:
            How one of the first <abbr>VR</abbr> arcades will bring us together in our own little worlds.
        </li>
        <li>
            <a href="http://sensics.com/why-webvr/">Sensics blog</a>:
            Why WebVR.
        </li>
        <li>
            <a href="https://www.sitepoint.com/build-virtual-reality-with-primrose-and-webvr/">SitePoint</a>:
            Build Virtual Reality in <abbr>VR</abbr> with Primrose and WebVR.
        </li>
        <li>
            <a href="http://dcinno.streetwise.co/2015/08/14/washington-dc-virtual-reality-vr-tech-startups-hub/">DC Inno</a>:
            The State of DC Virtual Reality Innovation: Part 1.
        </li>
    </ul>
</section>
